interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://archive.ics.uci.edu/api/datasets/list?search=wine
  response:
    body:
      string: '{"status":200,"statusText":"OK","data":[{"id":109,"name":"Wine"},{"id":186,"name":"Wine
        Quality"}]}'
    headers:
      content-type:
      - text/plain;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://archive.ics.uci.edu/api/dataset?id=186
  response:
    body:
      string: '{"status":200,"statusText":"OK","data":{"uci_id":186,"name":"Wine Quality","repository_url":"https://archive.ics.uci.edu/dataset/186/wine+quality","data_url":"https://archive.ics.uci.edu/static/public/186/data.csv","abstract":"Two
        datasets are included, related to red and white vinho verde wine samples,
        from the north of Portugal. The goal is to model wine quality based on physicochemical
        tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).","area":"Business","tasks":["Classification","Regression"],"characteristics":["Multivariate"],"num_instances":4898,"num_features":11,"feature_types":["Real"],"demographics":[],"target_col":["quality"],"index_col":null,"has_missing_values":"no","missing_values_symbol":null,"year_of_dataset_creation":2009,"last_updated":"Wed
        Nov 15 2023","dataset_doi":"10.24432/C56S3T","creators":["Paulo Cortez","A.
        Cerdeira","F. Almeida","T. Matos","J. Reis"],"intro_paper":{"ID":252,"type":"NATIVE","title":"Modeling
        wine preferences by data mining from physicochemical properties","authors":"P.
        Cortez, A. Cerdeira, Fernando Almeida, Telmo Matos, J. Reis","venue":"Decision
        Support Systems","year":2009,"journal":null,"DOI":null,"URL":"https://www.semanticscholar.org/paper/Modeling-wine-preferences-by-data-mining-from-Cortez-Cerdeira/bf15a0ccc14ac1deb5cea570c870389c16be019c","sha":null,"corpus":null,"arxiv":null,"mag":null,"acl":null,"pmid":null,"pmcid":null},"variables":[{"name":"fixed_acidity","role":"Feature","type":"Continuous","demographic":null,"description":null,"units":null,"missing_values":"no"},{"name":"volatile_acidity","role":"Feature","type":"Continuous","demographic":null,"description":null,"units":null,"missing_values":"no"},{"name":"citric_acid","role":"Feature","type":"Continuous","demographic":null,"description":null,"units":null,"missing_values":"no"},{"name":"residual_sugar","role":"Feature","type":"Continuous","demographic":null,"description":null,"units":null,"missing_values":"no"},{"name":"chlorides","role":"Feature","type":"Continuous","demographic":null,"descriptio[...]
[...]
