interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ncei.noaa.gov/access/services/search/v1/datasets?limit=20&text=storm
  response:
    body:
      string: '{"formats":{"docCountError":0,"buckets":[{"docCount":1,"key":"native"},{"docCount":2,"key":"netcdf"},{"docCount":1,"key":"pub"}],"sumOfOtherDocCounts":0},"observationTypes":{"docCountError":0,"buckets":[{"docCount":1,"key":"Land
        Surface"},{"docCount":1,"key":"Radar"}],"sumOfOtherDocCounts":0},"keywords":{"docCountError":0,"buckets":[],"sumOfOtherDocCounts":0},"endDate":"2026-09-03T00:00:00.000Z","count":4,"bounds":{"bottomRight":null,"topLeft":null},"datasets":{"docCountError":0,"buckets":[{"docCount":1,"key":"northeast-snowfall-impact-scale"},{"docCount":1,"key":"regional-snowfall-index"},{"docCount":1,"key":"storm-data-publication"},{"docCount":1,"key":"weather-radar-level-iii"}],"sumOfOtherDocCounts":0},"totalCount":100,"results":[{"featured":false,"formats":[{"name":"pub","id":"pub"}],"observationTypes":[],"keywords":["ANTICYCLONES/CYCLONES","PRESSURE
        ANOMALIES","HAIL","PRECIPITATION AMOUNT","PRECIPITATION ANOMALIES","PRECIPITATION
        RATE","RAIN","SLEET","SNOW","AIR TEMPERATURE","MAXIMUM/MINIMUM TEMPERATURE","SURFACE
        TEMPERATURE","TEMPERATURE ANOMALIES","SURFACE WINDS","FREEZING RAIN","SNOW
        WATER EQUIVALENT","SNOW","ICE PELLETS","DROUGHTS","FREEZE/FROST","LIGHTNING","TORNADOES","WIND
        STORMS","HYDROLOGICAL HAZARDS MAPPING","METEOROLOGICAL HAZARDS MAPPING","VITAL
        STATISTICS","HURRICANES","FLOODS"],"contactInfo":"Email ncei.info@noaa.gov151
        Patton AvenueVeach-Baley Federal Building, Room 468AshevilleNC28801-5001ncei.orders@noaa.gov
        Online Resource NCEI Contact InformationNOAA National Centers for Environmental
        Information (NCEI) https://www.ncei.noaa.gov/contacthttps://www.ncei.noaa.gov","endDate":"2018-11-30","topics":["Publication"],"orderable":true,"description":"''Storm
        Data and Unusual Weather Phenomena'' is a monthly publication containing a
        chronological listing, by state, of hurricanes, tornadoes, thunderstorms,
        hail, floods, drought conditions, lightning, high winds, snow, temperature
        extremes and other weather phenomena. The reports are provided by the National
        Weather Service and contain statistics on personal injuries and damage estimates.  You
        may also search the NCEI Storm Events database to find various types of storms
        recorded in your county.","people":[],"searchable":true,"frequency":"asNeeded","dataTypes":[{"dateRange":{},"searchWeight":1,"name":"Batch
        Name","id":"BatchName"},{"dateRange":{},"searchWeight":1,"name":"Page Count","id":"PageCount"},{"dateRange":{},"searchWeight":1,"name":"Date","id":"Date"},{"dateRange":{},"searchWeight":1,"name":"Document
        Period","id":"DocumentPeriod"}],"organization":{"name":"NOAA National Centers
        for Environmental Information"},"name":"Storm Data Publication","parsedKeywords":["EARTH
        SCIENCE > ATMOSPHERE > ATMOSPHERIC PRESSURE > ANTICYCLONES/CYCLONES","EARTH
        SCIENCE > ATMOSPHERE > ATMOSPHERIC PRESSURE > PRESSURE ANOMALIES","EARTH SCIENCE
        > ATMOSPHERE > PRECIPITATION > SOLID PRECIPITATION > HAIL","EARTH SCIENCE
        > ATMOSPHERE > PRECIPITATION > PRECIPITATION AMOUNT","EARTH SCIENCE > ATMOSPHERE
        > PRECIPITATION > PRECIPITATION ANOMALIES","EARTH SCIENCE > ATMOSPHERE > PRECIPITATION
        > PRECIPITATION RATE","EARTH SCIENCE > ATMOSP[...]
