interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ncei.noaa.gov/access/services/search/v1/datasets?limit=20&text=ghcn
  response:
    body:
      string: "{\"formats\":{\"docCountError\":0,\"buckets\":[{\"docCount\":4,\"key\":\"csv\"},{\"docCount\":4,\"key\":\"json\"},{\"docCount\":2,\"key\":\"native\"},{\"docCount\":2,\"key\":\"netcdf\"},{\"docCount\":3,\"key\":\"pdf\"}],\"sumOfOtherDocCounts\":0},\"observationTypes\":{\"docCountError\":0,\"buckets\":[{\"docCount\":1,\"key\":\"Land
        Surface\"}],\"sumOfOtherDocCounts\":0},\"keywords\":{\"docCountError\":0,\"buckets\":[],\"sumOfOtherDocCounts\":0},\"endDate\":\"2026-09-04T00:00:00.000Z\",\"count\":8,\"bounds\":{\"bottomRight\":null,\"topLeft\":null},\"datasets\":{\"docCountError\":0,\"buckets\":[{\"docCount\":1,\"key\":\"daily-summaries\"},{\"docCount\":1,\"key\":\"global-historical-climatology-network-hourly\"},{\"docCount\":1,\"key\":\"global-historical-climatology-network-monthly-v2\"},{\"docCount\":1,\"key\":\"global-historical-climatology-network-monthly-v4-precip\"},{\"docCount\":1,\"key\":\"global-summary-of-the-month\"},{\"docCount\":1,\"key\":\"global-summary-of-the-year\"},{\"docCount\":1,\"key\":\"gridded-5km-ghcn-daily-temperature-and-precipitation\"},{\"docCount\":1,\"key\":\"noaa-global-surface-temperature\"}],\"sumOfOtherDocCounts\":0},\"totalCount\":100,\"results\":[{\"featured\":true,\"formats\":[{\"name\":\"pdf\",\"id\":\"pdf\"},{\"name\":\"csv\",\"id\":\"csv\"},{\"name\":\"json\",\"id\":\"json\"}],\"observationTypes\":[],\"keywords\":[\"PRECIPITATION
        AMOUNT\",\"RAIN\",\"SNOW\",\"SURFACE PRESSURE\",\"MAXIMUM/MINIMUM TEMPERATURE\",\"HEATING
        DEGREE DAYS\",\"COOLING DEGREE DAYS\",\"SURFACE WINDS\",\"FOG\",\"RAIN STORMS\"],\"contactInfo\":\"Email
        ncei.info@noaa.gov Online Resource NCEI Contact Information https://www.ncei.noaa.gov/contact\",\"endDate\":\"2026-09-04\",\"topics\":[],\"orderable\":true,\"description\":\"This
        Global Summaries dataset, known as GSOM for Monthly, contains a monthly resolution
        of meteorological elements from 1763 to present with updates applied weekly.
        The major parameters are: monthly mean maximum, mean minimum and mean temperatures;
        monthly total precipitation and snowfall; departure from normal of the mean
        temperature and total precipitation; monthly heating and cooling degree days;
        number of days that temperatures and precipitat[...]
